@import "reset.css";
body {
  background-color: rgb(246, 249, 252);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.canvas_control{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5em 3.5em;
  align-items: center;
  justify-content: space-between;
}
.canvas_control label{
  padding: 0.4em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 0.3em;
  border: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.25em 0.375em rgba(50, 50, 93, 0.11), 0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
#img_upload{
  display: none;
}
.canvas_control>p{
  padding: 0 0.5em;
}
.canvas_control button{
  all: unset;
  padding: 0.25em;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 0.15em;
  border: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.25em 0.375em rgba(50, 50, 93, 0.11), 0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
  cursor: pointer;
}


.center{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3em;
}
canvas {
  background-color: rgb(255, 255, 255);
  border-radius: 0.6em;
  box-shadow: 0 0.25em 0.375em rgba(50, 50, 93, 0.11), 0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
}


.side{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5em;
}

.buttons{
  display: flex;
  margin-bottom: 1.5em;
}
.buttons>*{
  all: unset;
  min-width: 3em;
  padding: 0.5em;
  margin: 0.2em;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.55);
  border: rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0 0.25em 0.375em rgba(50, 50, 93, 0.11), 0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
button:active{
  transform: scale(0.95)!important;
}

#line_width{
  width: 50%;
}

.colors{
  display:flex;
  flex-direction: column;
  margin: 1.5em 0;
}
#custom_color{
  all: unset;
  width: 3.2em;
  height: 3.2em;
  margin: 0.05em;
  border: 1px solid rgba(50, 50, 93, 0.35);
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.color{
  width: 3.5em;
  height: 3.5em;
  margin: 0.08em;
  border-radius: 50%;
  box-shadow: 0 0.25em 0.375em rgba(50, 50, 93, 0.11), 0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.color:active{
  transform: scale(0.95);
}
